%mus-300{
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
}
%mus-500{
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-weight: 500;
}
%mus-700{
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
}

// colors
$text: #121212;
$accent: #2DA0A5;